*{
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 0.9em;
    background-color: #111;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#questao{
    color: #FFD700;
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #141414;
    box-shadow: 1px 2px 15px rgba(255, 215, 0, 0.3);
    border-radius: 10px;
}

#questao h3, #questao h1{
    color: rgba(255, 215, 0, 0.5);
}

#questao h2{
    margin-top: 40px;
}

#questao form{
    margin-top: 20px;
}

#questao button{
    margin-bottom: 10px;
    padding: 8px;
    width: 680px;
    border-radius: 10px;
    background-color: #FFD700;
    cursor: pointer;
    font-size: 16px;
}

#questao button:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(255, 215, 0, 0.3);
}

#valor{
    margin-top: 5px;
    color: #FFD700;
    font-size: 18px;
}

#BotaoJogo{
    background-color: #ff3300; 
    border: solid 1px #fc662b;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px 40px 10px 40px;
    margin: 50px;
    border-radius: 10px;
    font-size: 15px;
}