*{
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 0.9em;
    background-color: #111;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bloco{
    color: #FFD700;
    display: flex;
    align-items: center;
    padding: 100px 30px 30px 30px;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #141414;
    box-shadow: 1px 2px 15px rgba(255, 215, 0, 0.3);
    width: 40%;
    border-radius: 10px;
}

#BotaoJogo{
    background-color: #FFD700; 
    border: solid 1px #705f00;
    color: #111;
    text-decoration: none;
    text-align: center;
    padding: 10px 40px 10px 40px;
    margin: 50px;
    border-radius: 10px;
    font-size: 15px;
} 

#pont{
    color: #FFD700;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid 1px;
    border-radius: 10px;
}

#bloco h1{
    padding: 5px;
    color: #ffd90088;
}
