*{
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 0.9em;
    background-color: #111;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#inserir_quest{
    color: #FFD700;
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    background-color: #141414;
    box-shadow: 1px 2px 15px rgba(255, 215, 0, 0.3);
    width: 40%;
    border-radius: 10px;
}

#inserir_quest form{
    margin-top: 15px;
    gap: 10px;
}

#inserir_quest p{
    padding: 5px;
    font-size: 18px;
}

#inserir_quest select{
    padding: 5px;
    margin-left: 8px;
    border-radius: 10px;
    border: solid 1px #705f00;
}

#inserir_quest input{
    padding: 5px;
    width: 250px;
    margin-left: 8px;
    border-radius: 10px;
    border: solid 1px #705f00;
}

#BotaoCadastrar{
    background-color: #FFD700; 
    border: solid 1px #705f00;
    padding: 10px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    display: block;
    font-size: 15px;
}

#BotaoJogo{
    background-color: #FFD700; 
    border: solid 1px #705f00;
    color: #111;
    text-decoration: none;
    text-align: center;
    padding: 10px 40px 10px 40px;
    margin: 50px;
    border-radius: 10px;
    font-size: 15px;
}

.msg{
    color: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
}

.BotaoMsg{
    background-color: #FFD700; 
    color: #111;
    border: solid 1px #705f00;
    padding: 10px 30px 10px 30px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
}